---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <!-- Add Call to Action, Company Name, Logo Image -->
    <Hero callToAction="Be your best" buttonText="Join Today" companyName="Astraues Gym" />
  </main>
</Layout>
