---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero callToAction="Be your best" buttonText="Join Today" companyName="Astraues Gym" />
    <About linkText="Learn More" imgOne="gym-instructor.jpg" imgTwo="gym-boxer.jpg" />
  </main>
</Layout>
