---
interface Props {
  linkText: string;
  imgOne: string;
  imgTwo: string;
}
const { linkText, imgOne, imgTwo } = Astro.props;
---

<section class="py-12 max-w-7xl mx-auto">
  <div class="grid grid-cols-2 p-6 items-center">
    <div class="text-white">
      <h1 class="text-5xl italic max-w-xm font-anton text-secondary">
        About Our Fit Family
      </h1>
      <p class="font-grotesk max-w-sm py-8">
        Astraeus was found in 2018 by a group of friends who wanted to create a
        fitness app that would help them stay motivated and achieve their
        fitness goals.
      </p>
      <a href={linkText} class="text-white font-bold text-2xl underline">
        {linkText}
      </a>
    </div>

    <div class="grid grid-cols-2 gap-6 items-center">
      <img
        src={"/images/" + imgOne}
        alt="gym-instructor"
        class="rounded-md object-cover w-80"
      />
      <img
        src={"/images/" + imgTwo}
        alt="gym-boxer"
        class="w-80 rounded-md object-cover pt-12"
      />
    </div>
  </div>
</section>
